<template name="homeIndex">

    <p>Highest temperature: {{temps.top}}</p>
    <p>Lowest temperature: {{temps.low}}</p>
    <a>Find My Rovers</a>
    <table>
        <thead>
        <tr>
            <th>is favo</th>
            <th>Id</th>
            <th>Name</th>
            <th>X coordinate</th>
            <th>Y coordinate</th>
            <th>Distance to base</th>
        </tr>
        </thead>
        <tbody>
        {{#each rover in rovers}}

            <tr style="{{#if isfavo rover.id }}background:#00ff00{{/if}}">
                <td><input class="fovorite" type="checkbox" checked="{{#if isfavo rover.id }}true{{/if}}" data-id="{{rover.id}}"></td>
                <td><a href="/rover/{{rover.id}}">{{rover.id}}</a></td>
                <td><a href="/rover/{{rover.id}}">{{rover.name}}</a></td>
                <td><a href="/rover/{{rover.id}}">{{rover.position.x}}</a></td>
                <td><a href="/rover/{{rover.id}}">{{rover.position.y}}</a></td>
                <td><a href="/rover/{{rover.id}}">{{rover.distance}}</a></td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</template>